<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
	<title> Inside Campus Cruiser, USC’s long-time safe ride initiative</title>
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">
		<div class="banner">
			<a href="index.html"><img src="images/thinbanner.jpg"></a>
		</div>
		<br>
		<ul class="actions special">
			<li><a href="http://dailytrojan.com" class="button">Daily Trojan</a></li>
		</ul>
		<hr>

		<div class="headline">
			<h1> Inside Campus Cruiser, USC’s long-time safe ride initiative</h1>
				<div class="deck"><p> First, there was Fruber. Now there is Fryft. But for decades, USC has had its own rideshare program that it touts as the safer option.</p></div>
				<div class="byline"> <p>by <b>Mia Speier
</b> </p></div>

				<hr>
			</div>
			<div class="storyBody">
					<div class="biggerphoto">
				<img src="images/campus-cruiser-large.png">
				<div class="caption"><p>Lillian Zeng | <i>Daily Trojan</i></p></div>
			</div>
				<section>
					
					<p><span class="firstcharacter">F</span>our students — all strangers — pile into a car at 11 p.m. on a Saturday night, ready to be driven home after long hours of studying for exams, watching a movie and attending a concert. <br><br>
 
As each new student climbs into the car, Paul Rodriguez-Anter, the driver, greets them with a smile and a jovial "Hey!" before asking, "Do you mind putting your seatbelt on for me?" 
Rodriguez-Anter, a freshman majoring in religion studies, is a Campus Cruiser driver, and his shift has just begun. <br><br>
 
Campus Cruiser, USC’s safe ride program, was founded by the Department of Public Safety in 1978 to to help students travel and commute throughout the USC area. Through the service, student drivers taxi other students at the Health Sciences Campus Monday through Friday from 5 p.m. to 2 a.m. and the University Park Campus seven days a week from 5 p.m. to 2:45 a.m.<br><br>
 
The program began with just three employees but has since expanded to 99 drivers and six dispatcher/supervisor positions — all of which are held by students. USC Transportation now operates the program.
 
</p><header><h3><hr>
GETTING THE JOB</h3></header><p>
	<div class="biggerphoto">
				<img src="images/cc.jpg">
				<div class="caption"><p>Paul Rodriguez-Anter, a freshman majoring in religion studies, drives for Campus Cruiser. (Julia Rosher | <i>Daily Trojan</i>)</p></div>
			</div><p>
 
Like most drivers currently working for the program, Rodriguez-Anter discovered Campus Cruiser while searching for a job during his first week on campus. He was offered a position as a driver at a University-wide job fair. <br><br>
 
"They were one of the first stations that I saw and I told them I had a California driver’s license and that I love to drive," Rodriguez-Anter said. "They said, ‘Cool, could we interview you right now?’ and I [said] this was going to be my first job at USC, and I was nervous." <br><br>
 
But being offered the job was only the first step to becoming a driver. Rodriguez said students have to go through extensive training to understand the practical responsibilities and safety guidelines that come with working for a safe ride program.<br><br>
 
"You have to know the boundaries [of the route] … and we have to know all the streets," Rodriguez said. "You take a test afterwards, and you have to take a test drive with somebody in the car after three days of training to make sure you are a defensive driver." <br><br>
 
According to USC Transportation, Campus Cruiser averages 3,000 riders weekly, helping students travel from home to campus. Students can request rides using the Campus Cruiser app, which was created in 2015, or by calling the Campus Cruiser hotline. When a request from a student comes through, a team of two to four dispatchers answer the call.<br><br>
 
"When I picked up the job, I honestly thought I would be picking up a lot of drunk kids because I remember in high school we had a safe ride program where you would pick up kids who were drunk and the whole thing would be anonymous," Rodriguez said. "But, I am usually picking up and dropping off people from Leavey Library to where they live … until 3 a.m." <br><br>
 
The program’s operations are run out of a shipping container located in the University’s Grand Avenue parking structure a few minutes outside campus. A sign that reads "University of Southern California Fuel Station" and 20 vehicles, ranging from sedans to SUVs, emblazoned with the Campus Cruiser logo distinguish the indiscriminate lot in the middle of South Los Angeles. <br><br>
 
Inside the headquarters, students work shifts five days a week. When a request is received, drivers are notified on the iPads in their cars and the request is added to their route. But, before Rodriguez-Anter can begin his shift each night, he must go through a routine to check the vehicle’s safety and signal to HQ that he is about to begin. <br><br>
 
After he steps into the car, Rodriguez-Anter recites his car number, iPad number and iPad battery percentage into a walkie talkie. The dispatcher responds, "104 welcome aboard," and Rodriguez-Anter is set to begin his shift.<br><br>
 
"Now I’m all set, and they are ready to track me," Rodriguez-Anter said. "So I just wait until the iPad [notifies me] and until then I just drive around." 

 
</p><header><h3><hr>
GETTING A LYFT
</h3></header><p>
 
Campus Cruiser, however, is not the only safe ride program USC sponsors. USC Transportation partnered with ride-share service Uber in Fall 2015. The pilot program offered free Uber rides to students, faculty and staff within a two-mile radius of campus Thursday through Saturday night from 8 p.m. until midnight when Campus Cruiser wait periods exceeded 15 minutes, according to the Daily Trojan. <br><br>
 
In Fall 2015, USC Transportation expanded its supplemental program to offer free Uber rides nightly from 8 p.m. to 2 a.m. In Fall 2017, the Safe Rides Program switched from Uber, endearingly dubbed "Fruber" by students, to Lyft, which has since earned the nickname "Fryft." <br><br>
 
"As the University population has grown, so has the reliance on ride-share," the USC Transportation website reads. "With Campus Cruiser at maximum capacity, we now partner with Lyft … Last year Lyft complemented our Campus Cruiser program with up to 30,000 free rides per week."<br><br>
 
During his five-hour shift, Rodriguez-Anter primarily serves international students and those who have had negative experiences with Lyft drivers.<br><br>
 
"Since they’re international, [these students] probably think Campus Cruiser is probably safer for them to be using a car and program owned by USC," Rodriguez-Anter said. "They probably feel more comfortable in driving in what the school provides them." <br><br>
 
Rodriguez-Anter believes Campus Cruiser’s transparency and oversight makes it a safe alternative to Lyft for students looking for a free ride. According to USC Transportation, students riding with Campus Cruiser are able to receive real-time trip updates and have "complete driver visibility" throughout their rides.<br><br>
 
"[It is] safe because they are USC students, and you can trust them more," Rodriguez-Anter said. "I still completely trust Uber and Lyft, but if you have to compare the two, then a USC-owned program like Campus Cruiser would be safer. USC takes in so many international students … and there’s going to be parents that want their kids [safe]." <br><br>
 
Though Campus Cruiser is the safest ride-hailing option and is often promoted to students by DPS, Shawn Chavira, associate director of USC Transportation, said accidents with student-driven vehicles can sometimes occur during transit. However, the review process for incidents is also led by student workers. <br><br>
 
"Minor accidents and incidents occur infrequently which fall into the categories of preventable and non-preventable based on the details of the accident," Chavira wrote in a statement to the Daily Trojan. "An accident review board, consisting of a peer workgroup determines the preventability of an accident. After such time, student drivers are required to be re-trained, and the accident becomes part of their permanent Campus Cruiser file." <br><br>
 
In addition to providing international students with safe rides, Rodriguez-Anter said he often drives students who have had negative experiences with the Lyft program. <br><br>
 
In September, a Lyft driver dropped four USC students off on the side of the I-10 Freeway at around 1 a.m. while heading back to campus from a birthday celebration. One of the four students, Sydney Nguyen, a senior majoring business administration, made a Facebook post about her experience in which she said wrote that the driver told her friends to "get the fuck out" of his car. She and her friends walked nearly 25 minutes along the freeway to the nearest exit — she feared they would be hit by passing traffic. <br><br>
 
"I felt like I needed to speak to the community because we heavily rely on [Lyft] to get to and from campus," Nguyen said. <br><br>
 
Concerning stories of dangerous ride-hailing experiences are not uncommon at universities across the country. In early April, 21-year-old University of South Carolina student Samantha Josephson was kidnapped and killed when she got into a car she thought was her Uber. In the wake of her death, University of South Carolina President Harris Pastides urged students to take all safety precautions when using apps like Uber or Lyft.<br><br>
 
According to The New York Times, there have been at least two dozen cases of attacks, such as sexual assaults, kidnappings and murders, involving ride-hailing services. In October, DPS issued a sexual battery alert to the University community informing students that a student reported being sexually harassed by a driver she assumed to be her Lyft driver.<br><br>
 
"Most ride services, as we all know, are legitimate," DPS Assistant Chief David Carlisle told the Daily Trojan at the time. "It is always a good idea to be safe and probably the best first choice is USC Campus Cruiser." 

</p><header><h3><hr>
GETTING THERE ON TIME

</h3></header><p>

	Sophie Mathieu, a junior majoring in music composition, was traveling from Lorenzo Apartments to Gateway Apartments when she joined Rodriguez-Anter’s ride at 10 p.m. <br><br>
 
"I personally am a loyal Campus Cruiser user, though it’s an unpopular opinion," she said. "I personally have had a lot of creepy Lyft drivers, and I feel more comfortable having another student drive me. It’s easier because I feel all the student drivers know the area so well, and Lyft drivers get confused easily." <br><br>
 
Mathieu said a benefit of Campus Cruiser is being able to get picked up from various locations on campus, as opposed to having to walk to a designated Lyft pick-up destination. <br><br>
 
"And the fact that it goes until almost 3 a.m. [is great] because I am always practicing super late, and Lyft is done at 2 a.m.," Mathieu said. "I took free Lyft my freshman year, but this year I became a Campus Cruiser user because I’m done with creepy Lyft drivers."<br><br>
 
However, Mathieu said Campus Cruiser is often overlooked by students due to its perceivably long wait times. <br><br>
 
"It has longer wait times than Lyft and that’s mostly it," Mathieu said. "People don’t want to wait a long time and are discouraged." <br><br>
 
According to Chavira, average wait times depend on the traffic flow of the neighborhood. Waiting 15 minutes or more for Campus Cruiser used to be a prevalent problem for the students, faculty and staff who relied on the program; however, with the supplemental expansion to Lyft along with updated dispatch technology and iPad use, average wait times have decreased.<br><br>
 
Riders are encouraged to submit feedback on wait times and customer service on USC Transportation’s Campus Cruiser feedback webpage. USC Transportation also encourages students to track the status of their cruiser using the online tracking system.





					</p>
				</section>
			</div>
			<!-- Footer -->
		<br>
		<div class="banner bottom">
			<img src="images/thinbanner.jpg">
		</div>
		<footer id="footer">
			<p><b>PRODUCED BY</b> <br>
				<b>ALLEN PHAM,</b> Editor-in-Chief | 	
				<b>DIANA KRUZMAN,</b> Features Editor |
				<b>ERIC HE,</b> Features Editor |
				<b>ALINA ABIDI,</b> Online Projects Editor |
				<b>LILLIAN ZENG,</b> Design Director |
				<b>EILEEN TOH,</b> Managing Editor |
				<b>CATHERINE YANG,</b> Digital Managing Editor |
				<b>KARAN NEVATIA,</b> Associate Managing Editor |
				<b>KATE SEQUEIRA,</b> Associate Managing Editor |
				<br><br>
				&copy; University of Southern California | Daily Trojan 2019. All rights reserved. | <a href="https://html5up.net/">HTML5UP</a></p>	
			</footer>

				<!-- Scripts -->
				<script src="assets/js/jquery.min.js"></script>
				<script src="assets/js/browser.min.js"></script>
				<script src="assets/js/breakpoints.min.js"></script>
				<script src="assets/js/util.js"></script>
				<script src="assets/js/main.js"></script>

			</body>
			</html>