<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
	<title>For DPS, responsibility goes beyond policing
</title>
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">
		<div class="banner">
			<a href="index.html"><img src="images/thinbanner.jpg"></a>
		</div>
		<br>
		<ul class="actions special">
			<li><a href="http://dailytrojan.com" class="button">Daily Trojan</a></li>
		</ul>
		<hr>

		<div class="headline">
			<h1>For DPS, responsibility goes beyond policing
</h1>
				<div class="deck"><p> How the Department of Public Safety tries to forge connections to better serve the community it protects.
</p></div>
				<div class="byline"> <p>by <b>Andrea Klick

</b> </p></div>

				<hr>
			</div>
			<div class="storyBody">
					<div class="verticalphoto">
				<img src="images/chief.jpg">
				<div class="caption"><p>Chief John Thomas believes the Department of Public Safety should have an active role in the community. Photo courtesy of DPS.</p></div>
			</div>
				<section>
					
					<p><span class="firstcharacter">D</span>epartment of Public Safety Chief John Thomas had just landed in New York in March when he received a call from officers at USC notifying a press conference would be held on campus following the death of a student who was shot during an attempted robbery. <br><br>

Thomas boarded the earliest flight back to Los Angeles, slept for a few hours and made it to a 10 a.m. press conference to support the late student’s mother before flying back to New York within 12 hours of his initial arrival. <br><br>

“Could I have said no? In my opinion, it would’ve been the most selfish and irresponsible thing I could’ve done, particularly considering what his family was going through,” Thomas said. “If it was important for them to want me to be here, [it’s] a mild inconvenience for me to hop on a plane when they lost their child.”<br><br>

Sergeant Leesa Sandell, who has worked at DPS since 2000, said there was a large shift in working more closely with LAPD and DPS administration at DPS from when she started working at DPS in 2000 and when Thomas became chief six years ago. She said Captain Edgar Palmer and Thomas also implemented accountability standards to have sergeants supervising their officers’ patrols in the field and working with them. <br><br>

In his 14 years working for DPS, six of which he has served as chief, Thomas has focused the department on community engagement efforts to ensure everyone in the USC community feels comfortable contacting DPS about suspicious activity or other safety-related issues. Thomas willingly gives his cell phone number to students, parents and other members of the USC community, so that they can contact him anytime with questions, concerns or tips. <br><br>

Whether he’s in the office, at home or watching a movie with his wife, Thomas said he monitors his phone for any updates or emergencies that might come from officers or others. And if an issue arises, he’s always ready to head back to USC to help. <br><br>

He and other DPS staffers regularly meet with various student groups like the Undergraduate Student Government and student cultural assemblies, such as the Black Student Assembly and the Latino Student Assembly, to talk about the safety concerns different communities on campus have throughout the school year. <br><br>

“It’s not about me pushing out information, it’s about building a relationship,” Thomas said. “If during the course of those meetings I’m able to tell them about the latest crime trends and tell them to push that out to their constituencies, that’s probably the most effective means [of communication] that I have.”  <br><br>

DPS Assistant Chief David Carlisle said officers are trained to treat students like their own children to ensure they receive the best possible care when they fall victim to a crime or end up too intoxicated at a party. He said it’s important for students to have a positive relationship with DPS officers, so they feel more comfortable calling in any problems or concerns. <br><br>

“The students would be more likely to reach out to DPS if they’re in need if they know us,” Carlisle said. “If they see that officer, they’ve maybe said hello to a few times or see that we’re just here to help them, we’re not just symbols of authority on campus. We are their public safety department.” <br><br>

Parents also often call Thomas and Carlisle, asking about reported crimes in the area, so they can determine if their children are safe and what precautions DPS is taking. Carlisle said he and Thomas explain each situation to parents and delineate steps DPS is taking to ensure their children’s safety. <br><br>

“That’s satisfying when you allay a parent’s fears who are halfway across the country or completely across the country,” Carlisle said. <br><br>

Thomas said different concerns impact different groups of students — international students are most often targeted by phone scams, and new students who have lived in suburban or rural areas usually need to learn safety strategies for city life. While enforcing laws and making arrests is one part of a DPS officer’s job, Thomas said teaching students crime prevention and safety skills is a major aspect of keeping the campus community safe. <br><br>

“In order to keep a campus like this that is very transitory safe, you have to build relationships,” Thomas said. “I don’t have the luxury of being out of sync with students.”<br><br> 

 
</p><header><h3><hr>
PUTTING COMMUNITY FIRST
</h3></header><p>
	The majority of the over 300 DPS personnel spend their time patrolling and monitoring crime in and around campus. <br><br>

Sandell supervises officers for the night watch from 5 p.m. to 3 a.m. to ensure they enforce DPS values like crime prevention and community engagement while they are patrolling. Officers are expected to perform a mix of car and foot patrol so that they are more visible to students and can speak with them about crime prevention strategies. <br><br>

Officers use a computer system in their cars called EVADA that predicts what areas they should patrol by car or on foot based on crime history. She said if certain areas have seen an increase in theft or other crimes, officers will go door-to-door to talk with residents about securing their homes and other protective measures they can take.<br><br>

These changes allowed supervisors to reprimand officers for documented disciplinary issues like coming late to work or not patrolling their assigned area and made it easier to hold officers accountable, Sandell said. <br><br>

“The supervisors were happy because we were finally getting the support we needed to make changes we could see that needed to be changed,” she said.<br><br> 

County said some students and community members believe that DPS officers don’t have the power to enforce the law or arrest people for committing a crime. In reality, he said nothing in the field is ever “textbook” because every individual will react to an incident or interaction with police differently. <br><br>

“It’s a learning experience not only for the community member and the students, it’s a learning experience for the officer,” he said. “It teaches you restraint. It teaches you compassion if you don’t have compassion. It teaches you to have better engagement skills with people.” <br><br>

</p><header><h3><hr>
HEARING EVERY VOICE
</h3></header><p>
 
Thomas said he doesn’t have the opportunity to meet with as many members of the black and Latinx student communities as he would like to. He wants these students to feel comfortable reporting if they’ve been racially profiled by a DPS officer or have  faced other issues, so that DPS can go through the proper process to investigate these claims. <br><br>

As an African American man growing up in South L.A., Thomas said he also had few positive interactions with police officers and understands why black and Latinx students may not have as much trust in law enforcement as other students. Thomas said he shares his past experiences being profiled by officers with students to demonstrate that he understands their skepticism. <br><br>

“I have an obligation to not ignore that, and I have an obligation to make them feel better than I felt when I was their age,” Thomas said. <br><br>

DPS also hosts an annual “What Do I Do When” panel with officers from DPS and LAPD to teach students how to respond and report when officers have mistreated them and how these complaints should be handled by police departments. While the target audience for these events are students of color, Thomas said the event primarily draws women attendees. <br><br>

Thomas said he continues to try to find new ways to build a rapport with black and Latinx students on campus by attending more casual events like Brothers Breaking Bread at the Center for Black Cultural and Student Affairs. He hopes this exposure will help students trust DPS, so they’ll be more likely to report incidents of racial profiling from officers that can be investigated and stopped faster. <br><br>

“I can’t fix what I don’t know about, and accountability happens at the community level,” he said. “Leave it to themselves, and police are going to justify everything they do.” <br><br>
 

</p><header><h3><hr>
ANNUAL TRENDS

</h3></header><p>

	While each year may bring unique challenges or crime trends, Carlisle said some issues, like bike thefts, remain the same from year to year.<br><br>

Sandell said that around midterms and finals each semester, DPS will see an increase in calls regarding issues with stress management and students threatening to harm themselves. <br><br>

Officers, who are trained in high-stress situations at the Police Academy, speak with these students and help them get in contact with on-call counselors who will help determine if they should come in for additional counseling appointments. DPS also checks back in with these students to make sure they are feeling better and getting the help they need. <br><br>

“Kids put a lot of expectations on themselves and there’s that fear of disappointing people, disappointing themselves,” Sandell said. “Most of the time, it’s fine. They just talk to someone, get it off their chest, and everything is good again.”   <br><br>

For Thomas, it is essential to talk with every community of students on campus to learn about their safety concerns and issues they have. Without scheduling conversations and building relationships, Thomas said he wouldn’t know about or be able to find solutions for the problems facing a student body as large and diverse as USC’s. <br><br>

“I’ve got to operate [with people] in all those different worlds, and I have to have the ability to relate to their realities when it comes to perceptions of safety, crime and fear of crime,” Thomas said. “None of it is easy.”  
					</p>
				</section>
			</div>
			<!-- Footer -->
		<br>
		<div class="banner bottom">
			<img src="images/thinbanner.jpg">
		</div>
		<footer id="footer">
			<p><b>PRODUCED BY</b> <br>
				<b>ALLEN PHAM,</b> Editor-in-Chief | 	
				<b>DIANA KRUZMAN,</b> Features Editor |
				<b>ERIC HE,</b> Features Editor |
				<b>ALINA ABIDI,</b> Online Projects Editor |
				<b>LILLIAN ZENG,</b> Design Director |
				<b>EILEEN TOH,</b> Managing Editor |
				<b>CATHERINE YANG,</b> Digital Managing Editor |
				<b>KARAN NEVATIA,</b> Associate Managing Editor |
				<b>KATE SEQUEIRA,</b> Associate Managing Editor |
				<br><br>
				&copy; University of Southern California | Daily Trojan 2019. All rights reserved. | <a href="https://html5up.net/">HTML5UP</a></p>	
			</footer>

				<!-- Scripts -->
				<script src="assets/js/jquery.min.js"></script>
				<script src="assets/js/browser.min.js"></script>
				<script src="assets/js/breakpoints.min.js"></script>
				<script src="assets/js/util.js"></script>
				<script src="assets/js/main.js"></script>

			</body>
			</html>