<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
	<title> The gentrification effect: lower crime, more displacement</title>
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">
		<div class="banner">
			<a href="index.html"><img src="images/thinbanner.jpg"></a>
		</div>
		<br>
		<ul class="actions special">
			<li><a href="http://dailytrojan.com" class="button">Daily Trojan</a></li>
		</ul>
		<hr>

		<div class="headline">
			<h1>The gentrification effect: lower crime, more displacement</h1>
				<div class="deck"><p> As USC’s impact on the community grows, advocates are questioning the narrative that development makes communities safer.
</p></div>
				<div class="byline"> <p>by <b>Ashley Zhang

</b> </p></div>

				<hr>
			</div>
			<div class="biggerphoto">
				<img src="images/village-large.jpg">
				<div class="caption"><p>The USC Village is one example of the University's investment in the community. But advocates have said USC uses local improvements as a justification for displacement. Daily Trojan file photo.</p></div>
			</div>
			<div class="storyBody">
					
				<section>
					
					<p><span class="firstcharacter">F</span>When John Thomas was growing up, deciding what to wear to school every day meant considering not only the weather and dress code, but also the "unwritten rules" of South Los Angeles.<br><br>

"If you’re a kid growing up in South LA, you have to be aware, and you learn those things very early on," Thomas, now chief of USC’s Department of Public Safety, said in an interview with the Daily Trojan. "You’ve got to be concerned about the gangs: the Fruit Town Brims, the Harpys, the Rollin’ 30s, the 40s. When I was growing up, I could tell you where I could go wearing what colors — those are things that you have to know."<br><br>

From his childhood to his time working in his current role at USC, Thomas has seen the neighborhood change dramatically over the years. Current residents no longer have to worry about many of these "unwritten rules" because of a steep reduction in gang activity and violent crime, which has gone down by 67.2% since 1992 in the city, according to the 2018 Los Angeles Police Department’s Crime and Initiative Report.<br><br>

Thomas, like many others, attributes this change to the University’s influence. Since the 1980s, USC has gone from being a commuter school to a residential college, and a majority of students now live in the neighborhoods immediately surrounding campus. As rent prices rise due to growing demand, people who have lived in the area for decades are moving out or getting evicted to clear space for student accomodations. <br><br>

But as USC’s impact on the surrounding community continues to grow, anti-gentrification activists are questioning the widely accepted narrative that development helps make communities safer. This misconception, many say, is used to justify the displacement of people who have lived there for years.<br><br>

"I’ve watched [my neighborhood] change," said Zerita Jones, a lifelong resident of South Central Los Angeles and community activist. "I can’t say that there hasn’t been times in history where gang violence was very high, but we’re talking about right now. You can’t use a 10-year-old incident to displace us now."<br><br>

As neighborhoods modernize, a common narrative that often arises is that gentrification leads to safer streets. According to a 2017 study by MIT researchers, crime dropped 16% after the end of rent-controlled properties and subsequent rise of gentrification in Cambridge, Mass. 
<br><br>
Supporters of USC have pointed to the University’s investment in the community — such as its work on the USC Village, which brought fresh groceries through Trader Joe’s to an area traditionally considered a food desert — as an example of the school’s positive impact in addressing South LA’s problems.<br><br>

"[South LA] always had its challenges, at least throughout my lifetime — high unemployment rate, socioeconomic conditions that resulted in a high level of crime, a larger percentage of its young men being involved in gangs than [those in] other parts of the city, particularly in West L.A. and the Valley," Thomas said. <br><br>

However, the decrease in crime may not be specific to areas facing gentrification, but rather evidence of lowering crime rates at a national level. According to the FBI’s annual crime report and the Bureau of Justice Statistics’ survey on national crime victimization, violent crime in the U.S. has witnessed a sharp decline since the early 1990s. <br><br>

"We see across all of the nation, crime rate is lowering," said Paul Lanctot, an organizer with the LA Tenants Union. "It’s lowering in the 100s streets, it’s lowering in Watts, which are not gentrifying as fast. It’s much lower than it was in the ’90s. ... [Lower crime rates] are completely irrespective of gentrification, but it’s being used to kind of fuel gentrification."<br><br>

The lowered crime rates, which Lanctot believes may also be due in part to community efforts, may actually attract more development and make a neighborhood more desirable. <br><br>

"The majority of these violent crimes happen to community members, and that is something that gets lost in the narrative," Lanctot said. "LAPD often seeks to protect these more affluent students and members of society that are moving in in lieu of the people who have been here for years who face this violence. <br><br>

"As it’s now finally becoming safer, because of not gentrification, [but rather] efforts that the community has undertaken, that is when it’s started to gentrify because now it’s OK for people who haven’t been here to move in. They feel safer."<br><br>

The perception that USC’s neighborhood is now "safer" has encouraged the kind of development that pushes out the area’s long-term residents, Lanctot said.<br><br>

"Landlords can see that they can quickly turn a profit if they just get rid of their tenants that they have now who have been in the community for their whole lives, oftentimes to get it for a student who’s going to be there for two years," Lanctot said. "They can just jack up the rent because they know they can pay it."<br><br>

Dubbed the "Exposition Evictions" by the LA Tenants Union, seven buildings on the 1100-1132 block of Exposition Boulevard were purchased by Lee & Associates to make room for non-rent-controlled student housing units. According to Lanctot, over 80 tenants were evicted. <br><br>

The nature of crimes around USC has changed as well — and while violent crimes may have gone down, other issues such as theft have worsened. Cell phones make it easy to make a hefty profit through relatively easy means of theft, and they [have] made organizing crime more sophisticated. <br><br>

"A lot of the crime in South L.A. used to be driven by gang territory and turf over narcotics territories," Thomas said. "Even now, the gang members don’t sell narcotics the same way. This one simple device has even changed how crime occurs in this city because the drug sales are now handled by telephone, and it’s very hard to detect."<br><br>

Los Angeles Police Department Captain Lee Sands has also noticed a surge in the number of street robberies over the years.<br><br>

"With the invention of technology, I think that’s increased some of our crime because a lot of people are walking down the street with their headphones on and their cell phones not being aware of their surroundings," Sands said. "We’re seeing a lot more crimes like that that we didn’t see before."<br><br>

Jones believes that the rise in robberies can be largely attributed to frustration caused by gentrification-fueled homelessness. <br><br>

"If you displace people that once had something, the crime rate may not go down, it may go up, because now, they’re at a point of desperation," Jones said. "In the last couple of weeks, out of everybody in my family, we’ve had two car break-ins, and two [of] their cars were destroyed while parked on the street at night. I was recently broken into where I never had my car broken into at all."<br><br>

Concerns over the safety of USC students has led to an increase in the policing of the area, which has also disproportionately targeted black residents. A recent video posted by local resident Estuardo Mazariegos on Facebook showed a non-USC student of color handcuffed and questioned by a DPS officer for allegedly riding his bike without a light. Jones said that she and her family have noticed this rise in policing and have been subject to more frequent questioning after she joined a lawsuit against the city to prevent herself from getting evicted.<br><br>

"The first thing that happened after this lawsuit was filed was that our community started getting overpoliced," Jones said. "My daughter had never been approached by the police until this lawsuit was filed, and all of a sudden, she’s approached twice."<br><br>

Ultimately, advocates believe that any potential advantages that new developments may bring tend to favor students who pay for the safety that USC provides. <br><br>

"In the [LA] Tenants Union, we have a very simple analysis of gentrification: It’s the displacement of the poor for the profit of the rich," Lanctot said. "So when we talk about good things that happen, there’s only good things for the rich."
					</p>
				</section>
			</div>
			<!-- Footer -->
		<br>
		<div class="banner bottom">
			<img src="images/thinbanner.jpg">
		</div>
		<footer id="footer">
			<p><b>PRODUCED BY</b> <br>
				<b>ALLEN PHAM,</b> Editor-in-Chief | 	
				<b>DIANA KRUZMAN,</b> Features Editor |
				<b>ERIC HE,</b> Features Editor |
				<b>ALINA ABIDI,</b> Online Projects Editor |
				<b>LILLIAN ZENG,</b> Design Director |
				<b>EILEEN TOH,</b> Managing Editor |
				<b>CATHERINE YANG,</b> Digital Managing Editor |
				<b>KARAN NEVATIA,</b> Associate Managing Editor |
				<b>KATE SEQUEIRA,</b> Associate Managing Editor |
				<br><br>
				&copy; University of Southern California | Daily Trojan 2019. All rights reserved. | <a href="https://html5up.net/">HTML5UP</a></p>	
			</footer>

				<!-- Scripts -->
				<script src="assets/js/jquery.min.js"></script>
				<script src="assets/js/browser.min.js"></script>
				<script src="assets/js/breakpoints.min.js"></script>
				<script src="assets/js/util.js"></script>
				<script src="assets/js/main.js"></script>

			</body>
			</html>