<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
	<title>Police officers turn to USC for extra education
</title>
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">
		<div class="banner">
			<a href="index.html"><img src="images/thinbanner.jpg"></a>
		</div>
		<br>
		<ul class="actions special">
			<li><a href="http://dailytrojan.com" class="button">Daily Trojan</a></li>
		</ul>
		<hr>

		<div class="headline">
			<h1>Police officers turn to USC for extra education
</h1>
				<div class="deck"><p>  Two USC schools offer a special training program to help the Los Angeles Police Department become more prepared to help local communities. 
</p></div>
				<div class="byline"> <p>by <b>Kate Sequeira


</b> </p></div>

				<hr>
			</div>
			<div class="biggerphoto">
				<img src="images/lead-large.jpg">
				<div class="caption"><p>The LEAD program's 2019 graduates aim to return to the LAPD with more experience and preparedness to meet the needs of their communities. Photo courtesy of Price School of Public Policy. 

</p></div>
			</div>
			<div class="storyBody">
					
				<section>
					
					<p><span class="firstcharacter">D</span>uring a Saturday class on USC’s campus, detective Nic Sinclair had an eye-opening experience when he reflected on the issue of child abuse and what he and his colleagues could do to support the community as law enforcement officers.<br><br>
"It’s interesting to see the different mindsets and the different train of thoughts when handling situations," Sinclair said. <br><br>
Sinclair and other officers in the Law Enforcement Advance Development Certificate Program have attended monthly classes, learned from mentors and worked on six-month-long capstone projects that will be presented to the command staff at the end of the program.<br><br>
LEAD, created in 2017, is a joint effort by the Price School of Public Policy, the Suzanne Dworak-Peck School of Social Work and LAPD to foster trust between officers and their respective communities and to deepen officers’ education on issues they face on a daily basis. The program is now in its third cohort.<br><br>
"What we’re hoping to do is help police build greater credibility and trust with the community and greater legitimacy," Price School Dean Jack Knott said. "[They] learn about the kinds of individuals that they will be dealing with from issues around homelessness, or domestic violence and how to not react to those kinds of situations with force in every instance, but rather to understand the behavior, understand the proper response." <br><br>
As a detective who once worked in both the Traffic and Vice divisions of LAPD, Sinclair  immediately settled on an idea for his capstone. Frustrated by the lack of communication between two divisions that could benefit from sharing resources, he decided to establish a system that would address an issue significantly affecting communities in Los Angeles County — drunk driving.
By requiring officers in the Traffic Division to ask for the location of an individual’s last drink after a DUI arrest or collision, he could then have Vice generate location profiles for the incidents, which would identify patterns in different areas and let officers know where to strengthen enforcement and implement stronger DUI education.<br><br>
"It’s definitely a city problem that we’re not communicating with each other," he said. "It’s a local problem … We try to expand [the database] to the other departments and we would share that information providing enforcement and education to the bars to reduce DUI." <br><br>
Others, like Lieutenant Mike Odle, a member of the first cohort, focused on community outreach. He worked with other community programs to evaluate how individuals perceive officers in uniform. He found they felt more comfortable with police when they first met them in plain clothing before learning they were officers.<br><br>
In addition to working on their capstone projects, the 40 LAPD officers make their way to campus once a month for six months for eight hours of instructional sessions to develop a better understanding of the issues they have seen on the job. Some days, it’s a lecture on homelessness. Others, it’s a talk on mental illnesses.<br><br>
After a full day of classes, officers can then take the lessons they’ve learned and implement them into their everyday police work. As they slip back into uniform, they carry a new perspective on their community with them, said Price School Safe Communities Institute director Erroll Southers, who oversees the program.<br><br>
"I think it’s really easy … to kind of just do a job and be done with it," Sinclair said. "But when you really think about it, these victims are these witnesses. The experience is going to be what they take for the rest of life. You can see that negative image being displayed on TV, so if you’re able to take a little more time and kind of be more personable and articulate and show more sympathy and empathy to people, I think it goes a long way." <br><br>
Enrolled officers meet with mentors outside the set class hours where they can ask questions and receive advice regarding the feasibility of their capstone projects. Since the program’s inception, officers have used their capstones to focus on issues ranging from immigration to the community’s perception of police. In the last cohort, one officer condensed a 44-page immigration document to eight pages to encourage immigrants and undocumented individuals to report crimes by helping them understand LAPD’s role in immigration issues.<br><br>
"We’re looking at projects that are feasible; we’re looking at projects that engage the community in challenges that the community identifies, not the officers," Southers said. "That’s what makes it really important." <br><br>
Officers in the third cohort will present their capstone projects to the command staff in May when the program ends. <br><br>
LEAD is only a few years old, but its overseers already have ideas to improve the program after receiving feedback from graduated officers.  While the first cohort underwent a year-long online class, the program was revamped so that officers could have an opportunity to connect with each other in person over six months. <br><br>
"USC really responded to some of the feedback from our officers," said Luann Pannell, director of police training and education at LAPD. "Our officers wanted more classroom interaction and connection with our other classmates than online interaction. I think sometimes in an effort to be technologically savvy and utilize technology, perhaps that we miss human connection." <br><br>
Sinclair and Odle said the LEAD program is one in which both professors and students are learning from one another. The officers have also been able to provide their instructors with knowledge of their real-world experiences, Odle said.<br><br>
"The benefit of that is that officers are able to bring very real-world experiences on a street level to academia. Professionals work in a more structured environment," Odle said. "I think what was also beneficial, at least the interactions that I had in the inaugural program, was that some of the professionals that we interacted with didn’t realize really how progressive the LAPD is in a lot of different areas." <br><br>
Southers and Knott hope to expand the LEAD program outside of LAPD for future cohorts. Eventually, they want to implement the program outside of Los Angeles to increase understanding of how to approach sensitive issues.<br><br>
"Ultimately, I want to see it be a national model," Southers said. "I want to see it, I want to have people from the community come back and say, ‘You know, we don’t know what you’re doing with those officers but keep doing it.’"

					</p>
				</section>
			</div>
			<!-- Footer -->
		<br>
		<div class="banner bottom">
			<img src="images/thinbanner.jpg">
		</div>
		<footer id="footer">
			<p><b>PRODUCED BY</b> <br>
				<b>ALLEN PHAM,</b> Editor-in-Chief | 	
				<b>DIANA KRUZMAN,</b> Features Editor |
				<b>ERIC HE,</b> Features Editor |
				<b>ALINA ABIDI,</b> Online Projects Editor |
				<b>LILLIAN ZENG,</b> Design Director |
				<b>EILEEN TOH,</b> Managing Editor |
				<b>CATHERINE YANG,</b> Digital Managing Editor |
				<b>KARAN NEVATIA,</b> Associate Managing Editor |
				<b>KATE SEQUEIRA,</b> Associate Managing Editor |
				<br><br>
				&copy; University of Southern California | Daily Trojan 2019. All rights reserved. | <a href="https://html5up.net/">HTML5UP</a></p>	
			</footer>

				<!-- Scripts -->
				<script src="assets/js/jquery.min.js"></script>
				<script src="assets/js/browser.min.js"></script>
				<script src="assets/js/breakpoints.min.js"></script>
				<script src="assets/js/util.js"></script>
				<script src="assets/js/main.js"></script>

			</body>
			</html>