<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8" />
	<title>A year in crime</title>
	<link rel="stylesheet" href="assets/css/main.css" />
</head>
<body class="is-preload">
	<div class="banner">
		<a href="index.html"><img src="images/thinbanner.jpg"></a>
	</div>
	<br>
	<ul class="actions special">
		<li><a href="http://dailytrojan.com" class="button">Daily Trojan</a></li>
	</ul>
	<hr>

	<div class="headline">
		<h1>A year in crime</h1>
		<div class="deck"><p> The Daily Trojan combed through a year’s worth of DPS data to see how crime has changed over time. Here’s what we found.</p></div>
		<div class="byline"> <p>by <b>Daniel Hahm and Natalie Oganesyan</b> </p></div>

		<hr>
	</div>


	<div class="storyBody">
		<div class="resp-container">
			<iframe  class="resp-iframe" src="https://datastudio.google.com/embed/reporting/1ndK5ghNIy2PcO72uj9j-jsXddl5hNj4l/page/d4tn" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
		<div class="caption"><p>Crimes by location according to data compiled by the Daily Trojan <br>from Department of Public Safety crime logs</p></div>
		
		<section>
			
			<!-- <p><span class="firstcharacter">M</span>ost faculty and  --> <header><h3><hr>
				BURGLARIES AND ROBBERIES
			</h3></header><p>
				
				Burglaries and robberies around campus have increased sharply in recent years, according to data compiled by the Daily Trojan from Department of Public Safety crime logs. DPS reported 62 burglaries within the DPS patrol area in 2018, a 114% increase from 2015. Similarly, robberies increased by 250% from 2017, reaching 70 incidents in 2018.<br><br>
				
				Christopher J. Bates, a graduate student at UC Irvine studying criminology, law and society, said burglaries — which involve illegal entry into a building — can increase as a neighborhood becomes wealthier. <br><br>
				
				"We can imagine that with criminal opportunities that maybe income increases in an area, so there are now more houses to burglarize," Bates said. "If they increased their security systems, they would reduce crime." <br><br>
				
				Burglars often target students’ homes during vacation periods. DPS Assistant Chief David Carlisle said he recommends that students take precautions when they leave their apartments for extended periods of time.<br><br>
			</p></section>

			<div class="resp-container">
				<iframe  class="resp-iframe" src="https://datastudio.google.com/embed/reporting/1ybMhPs28ltk5eq6vTpSxABGBCkPb6eHC/page/sdhn" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<div class="caption"><p>Crimes by location according to data compiled by the Daily Trojan <br>from Department of Public Safety crime logs</p></div>
			<section><p>


				
				"If you live in an off-campus apartment, make sure you lock the door, make sure you have someone picking up your mail, leave the lights on, leave the radio on [and] make it sound like somebody is home," Carlisle said. "Burglars are looking for people not to be home." <br><br>
				
				In order for a theft to be considered a robbery, it must have included force or fear.<br><br>
				
				"We attribute that to the increase … in cellphone thefts," Carlisle said. "Most of our robberies [involve] wrestling those phones out of the [victims’] hand and run."<br><br>
				
				According to Carlisle, a large portion of robberies is committed by juveniles. He added that robberies often take place on public transportation, where robbers target train passengers, grab the phones and escape through the door.<br><br>
				
				"What we want to talk to students about is pay attention to your surroundings," Carlisle said. "[The increase in robberies] is not unique to USC. I went to New York, and they were dealing with the same issue." <br><br>
				
			</p><header><h3><hr>
			ARRESTS AND REFERRALS</h3></header><p>
				
				DPS has a choice when dealing with drug or alcohol violations within the patrol area: call in the Los Angeles Police Department to make an arrest, or refer students to USC for disciplinary action. According to DPS data, arrests for liquor and drug violations decreased between 2015 and 2017 while disciplinary referrals went up. <br><br>
				
				While police arrested 41 people for these offenses in 2015, that figure dropped to 20 in 2017. Conversely, DPS wrote 79 drug referrals and 539 alcohol referrals in 2015, which jumped to 108 and 841 by 2017, respectively.<br><br>
				
				According to Carlisle, DPS prefers to handle these violations through the school rather than with the help of the LAPD.<br><br>
				
				"Student possession of alcohol, student [intoxication], underage drinking, underage possession of alcohol are violations of student conduct that we would prefer to handle in house through Student Judicial Affairs [and Community Standards] instead of citing an underage person for possession of alcohol and have them go to court and have a record," Carlisle said.<br><br>
				
				The course of action taken by DPS when it comes to referrals varies on a case-by-case basis, Carlisle said. When there are more social events, such as football games and fraternity parties, referrals tend to go up.<br><br>
				
				"The more people on campus, the more parties, the more events, sometimes leads to more students coming to our attention," Carlisle said. <br><br>
				
				When handling cases of liquor and drug violations, DPS also factors in the severity of the situation, choosing to transport students to the hospital in medical emergencies rather than citing them.<br><br>
				
				"We want to do what we can," Carlisle said. "We want to give students the opportunity to learn from the mistake without having some sort of criminal record. Generally, they are minor violations of law. We think it’s more appropriate to handle internally than to put them into the criminal justice system." 
				
			</p><header><h3><hr>
			CASE STATUS</h3></header><p>
				
				DPS, which falls under the jurisdiction of the LAPD, keeps track of the status of its investigations throughout the year. According to a Daily Trojan analysis of DPS crime logs, 859 cases were marked closed in 2018, while 3,449 remained open, 152 were cleared by arrest and 149 were cleared through exceptional means.<br><br> 
				
				"[In a cleared case,] you’ve identified the suspect, got a warrant for their arrest or you’ve arrested the suspect," Carlisle said. "Clearance is like saying the case has been solved." <br><br>
				
				Exceptional clearance refers to cases in which suspects have been identified but circumstances such as death or location prevent law enforcement from being able to arrest them.<br><br>
				
				Open cases are considered unsolved, suspended or inactive since officers don’t have leads. For example, because most thefts are not caught on video, they are difficult to solve and often remain open indefinitely. <br><br>
				
				"Most thefts, without video evidence or a witness, are going to go unsolved," Carlisle said. "We actually have a very good track record of clearing our personal cases." <br><br>
				
				According to Carlisle, DPS has a 60 percent robbery clearance rate in which officers have either arrested the suspect or identified them. <br><br>
				
				"I attribute [the high clearance rate] to two things: technology — the cameras and license plate recognition — and good detective work," Carlisle said. <br><br>
				
				Since their patrol area is hyper-localized to the USC community, DPS detectives have less cases to work and more time to investigate them in comparison with the LAPD, which results in more cleared cases, Carlisle said. <br><br>
				
				"LAPD is very happy with our assistance because if we make an arrest on a robbery, that’s clearing a case for LAPD," Carlisle said. "Every crime we take, is recorded at LAPD. We are their agents, so we work under the auspices of LAPD when we’re out in the community and investigating crime." 



			</p>
		</section>
	</div>
	<!-- Footer -->
	<br>
	<div class="banner bottom">
		<img src="images/thinbanner.jpg">
	</div>
	<footer id="footer">
		<p><b>PRODUCED BY</b> <br>
			<b>ALLEN PHAM,</b> Editor-in-Chief | 	
			<b>DIANA KRUZMAN,</b> Features Editor |
			<b>ERIC HE,</b> Features Editor |
			<b>ALINA ABIDI,</b> Online Projects Editor |
			<b>LILLIAN ZENG,</b> Design Director |
			<b>EILEEN TOH,</b> Managing Editor |
			<b>CATHERINE YANG,</b> Digital Managing Editor |
			<b>KARAN NEVATIA,</b> Associate Managing Editor |
			<b>KATE SEQUEIRA,</b> Associate Managing Editor |
			<br><br>
			&copy; University of Southern California | Daily Trojan 2019. All rights reserved. | <a href="https://html5up.net/">HTML5UP</a></p>	
		</footer>

		<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/browser.min.js"></script>
		<script src="assets/js/breakpoints.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>

	</body>
	</html>