<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8" />
	<title>Ask a "Yellow Jacket": Q&A with a USC security ambassador

	</title>
	<link rel="stylesheet" href="assets/css/main.css" />
</head>
<body class="is-preload">
	<div class="banner">
		<a href="index.html"><img src="images/thinbanner.jpg"></a>
	</div>
	<br>
	<ul class="actions special">
		<li><a href="http://dailytrojan.com" class="button">Daily Trojan</a></li>
	</ul>
	<hr>

	<div class="headline">
		<h1>Ask a "Yellow Jacket": Q&A with a USC security ambassador
		</h1>
		<div class="deck"><p>  Men and women in yellow patrol USC’s borders. What does a typical day look like for them?

		</p></div>
		<div class="byline"> <p>by <b>Patrick Fang


		</b> </p></div>

		<hr>
	</div>
	<div class="biggerphoto">
		<img src="images/yellowjacket-large.jpg">
		<div class="caption"><p> A CSC ambassador stands watch on 28th Street in February. (Tucker Judkins | <i>Daily Trojan</i> )

		</p></div>
	</div>
	<div class="storyBody">

		<section>

			<p><span class="firstcharacter">S</span>ince 2009, USC has hired "security ambassadors" to patrol the school’s borders and surrounding neighborhoods, providing an extra layer of security in an effort to deter crime. The University contracted with the Contemporary Services Corporation to fill the streets around campus with distinctive yellow jackets every evening, but few students know who they are or what responsibilities their job entails.<br><br>

				The Daily Trojan spoke to one ambassador, who asked to use a pseudonym because CSC does not allow its employees to give interviews.

				<hr>

				<b>Daily Trojan: </b>What’s your background? Where did you grow up and how did you get into this line of work?<br><br>

				<b>Mickey:</b> I grew up in the Greater Los Angeles area. The company I work for, we do security for events and certain college basketball games and stuff, so I really enjoy helping people. When I saw the opportunity to be an ambassador for USC, I wanted to take on that challenge. I love to be here because the students just give me a great deal of energy.<br><br>

				<b>DT:</b> Could you provide some details on how your job works? <br><br>

				<b>M:</b> The first thing is always to observe and report anything suspicious, persons of interest, or even if it’s a broken sprinkler spraying water on all the cars which you see sometimes. We’ll call DPS and let them know to notify maintenance of the issue. <br><br>

				<b>DT:</b> If you do see something happen, what is the first thing you’re expected to do?<br><br>

				<b>M:</b> The first thing we’re expected to do is to get a brief description of the person, place or thing, whatever it is, get a description, an address or a street. Because DPS is always listening, they have radio as well, we have one of their radios, they have one of ours, so once we put out the call, they’re already heading out to that area. You have to keep a watchful eye out here, because at any moment anything can happen, for your own safety as well.<br><br>

				<b>DT:</b> Are you expected to intervene at all?<br><br>

				<b>M:</b> No, we don’t have to intervene at all. Our job is to call it out, report it, start writing down details, step aside and let DPS and LAPD handle it, because we’re not armed with anything. We’re armed with hope — hope you don’t shoot me.<br><br>

				<b>DT:</b> How long are your shifts?<br><br>

				<b>M:</b> The shift for ambassadors is usually six and a half hours. We do a briefing, we get information on what’s going on, what to look out for, and then we come out here.<br><br>

				<b>DT:</b> Are there things you’re not allowed to do at your posts?<br><br>

				<b>M:</b> We’re not allowed to engage in personal activity. We have to observe and report, so we have to keep a watchful eye, keep the ears open, so being on the phone, doing personal things, can distract you from that. <br><br>

				<b>DT:</b> What does a typical night look like for you?<br><br>

				<b>M:</b> There’s been a lot of theft, a lot of people that’s trying to get into the area. And so, we try to tell students to keep your belongings, hide your items if you can, or try not to walk around with them so much. It’s not the best area in the world, but we can all look out for one another, and keep the bad guys out of here, because when they see us out here, they figure it out. A lot of students have told us that us being out here has made a big difference.<br><br>

				<b>DT:</b>  Is this your only job?<br><br>

				<b>M:</b> No, this is my second job, because it’s only six hours; it’s really part-time. CSC doesn’t let you go past 30 hours a week.<br><br>

				<b>DT:</b> Is it pretty typical for the people you work with to have day jobs?<br><br>

				<b>M:</b> Yeah, pretty much everyone at this company is [working here] as a second job. You know, it’s America, it’s pretty tough out here. Especially if you don’t have a college education, it puts you in the two-job category because it’s hard to make it with one job, especially in California.<br><br>

				<b>DT:</b> What’s the most difficult part of your job?<br><br>

				<b>M:</b> I think the most difficult part is hearing bad news because we were unable to stop it from happening. Once we’ve been in this area for a long time, you guys are like family. Everything else is customer service. You can’t cover everything. You wish you can, but unfortunately certain things do happen, but that makes us get tighter, stricter, look for any loopholes that we can tighten up.<br><br>

				<b>DT:</b> Does your job get boring sometimes? How do you keep yourself entertained?<br><br>

				<b>M:</b> I’ll hum to myself, sing, but it doesn’t get boring because we have a policy that we have to keep walking back and forth. They don’t allow us to just stand on one street, because something could happen down there, and we’re right there. So by us walking back and forth, you’re more likely to catch something versus just standing in one spot. So that keeps you up.<br><br>

				<b>DT:</b> What is something about your position that the average student would be surprised to learn?<br><br>

				<b>M:</b> Our strength at being out here. A lot of people are really uncomfortable being out this late at night, especially because we’re not in the building, we’re here outside, so a lot of people are surprised at that like, "You sure you’re OK out here?" And they’re just surprised that sometimes we can solve an incident quicker than LAPD.

			</p>
		</section>
	</div>
	<!-- Footer -->
	<br>
	<div class="banner bottom">
		<img src="images/thinbanner.jpg">
	</div>
	<footer id="footer">
		<p><b>PRODUCED BY</b> <br>
			<b>ALLEN PHAM,</b> Editor-in-Chief | 	
			<b>DIANA KRUZMAN,</b> Features Editor |
			<b>ERIC HE,</b> Features Editor |
			<b>ALINA ABIDI,</b> Online Projects Editor |
			<b>LILLIAN ZENG,</b> Design Director |
			<b>EILEEN TOH,</b> Managing Editor |
			<b>CATHERINE YANG,</b> Digital Managing Editor |
			<b>KARAN NEVATIA,</b> Associate Managing Editor |
			<b>KATE SEQUEIRA,</b> Associate Managing Editor |
			<br><br>
			&copy; University of Southern California | Daily Trojan 2019. All rights reserved. | <a href="https://html5up.net/">HTML5UP</a></p>	
		</footer>

		<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/browser.min.js"></script>
		<script src="assets/js/breakpoints.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>

	</body>
	</html>